body{
  background-color: #1f1e1e;
  color: white;
  overflow: hidden;
  display: flex;
  justify-content: center;
  overflow: auto;
}
label{
  margin-bottom: 10px;
}
.wrapper{
  width: fit-content;
  height: fit-content;
  display: flex;flex-direction: column;
  justify-content: start;
  gap: 20px;

  background-color: #353434;
  align-items: center;
}
.wrapper .inputs{
  padding: 10px;
  display: flex;
  gap: 20px;

}
.wrapper .inputs > div{
  display: flex;
  flex-direction: column;
}
.wrapper .inputs div input{
  width: 200px;
  height: 40px;
  outline: none;
}
.btn{
  display: flex;
  padding: auto 0;
  justify-content: end;
}
.btn button{
  background-color:  rgb(173, 255, 47);
  width: 50px;
  height: 42px;
  cursor: pointer;
}
.btn button:hover{
  background-color: rgba(173, 255, 47, .9);
}
.btn button:active{
color: white;
  border: 2px solid #1f1e1e ;}
.btn-area button{
  height: 30px;
 background-color: rgba(173, 255, 47, .5) ;
  cursor: pointer;
}
.btn-area button:nth-child(1){
  background-color: greenyellow;
  height: 40px;
  width: 70px;

}
.btn-area button:nth-child(2){
  background-color: greenyellow;
  height: 40px;
  width: 100px;

}
.inputs input:focus {
  border: 2px solid greenyellow;
}


/* active tab */
.active-tab{
  background-color: #353434 !important;
  color: white;
  border: 1px solid white;
} 
/*  */
.tasks , .checked{
  
  display: flex;
  width: 100%;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-top:2px solid greenyellow ;
  
  
  padding: bottom 5px ;
}
.tasks .task-content , .checked .checked-content{
  display: flex;
  flex-direction: column;
  width: 80%;

  flex-wrap: wrap;
  height: max-content;

  padding: 20px;
}
.tasks .task-content h3 , .checked .checked-content h3{
  font-size: 25px;
  font-weight: 700;
  color: greenyellow;
  height: max-content;
  word-wrap: break-word; /* add this property */
  width: 300px;
  overflow-wrap: break-word; 
  word-wrap: break-word; 
  word-break: break-word; 
}
.tasks .task-content p , .checked .checked-content p{
  font-size: 15px;
  width: 400px;
  word-wrap: break-word; /* add this property */
  
  overflow-wrap: break-word; 
  word-wrap: break-word; 
  word-break: break-word; 
}
.tasks .task-icons{


  display: flex;
  padding: 20px;
  justify-content: space-between !important;
  width: 20%;
  height: 100%;
  gap: 10px;
  
}
.check-icon:hover{
  color: greenyellow !important;
}
.bin-icon:hover{
  color: rgb(159, 35, 28) !important;
}
del{
color: black;
text-decoration: line-through;
text-decoration-color:rgb(4, 109, 46) ;
}




/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 600px) {
  .wrapper{
    width: 100vw;
 
  }
  .title{
    text-align: center;
  }
  .inputs {
    display: flex;
    flex-direction: column;
      
  }

  .tasks , .checked{
    
    display: flex;
    width: 100%;
    flex-direction: row-reverse;
  
  }
  .btn button{
    background-color:  rgb(173, 255, 47);
    width: 100px;
    height: 42px;
    cursor: pointer;
    margin: 0 auto;
  }
  .tasks .task-content h3 , .checked .checked-content h3{
    font-size: 20px;
    width: 195px;
    font-weight: 700;
    word-wrap: break-word; /* add this property */
    overflow-wrap: break-word; 
    word-wrap: break-word; 
    word-break: break-word; 
  }
  .tasks .task-content p , .checked .checked-content p{
    font-size: 15px;
    width: 150px;
    word-wrap: break-word; /* add this property */
    overflow-wrap: break-word; 
    word-wrap: break-word; 
    word-break: break-word; 
  }
.checked{
  justify-content: end;
  align-items: center;
}
.checked-content{
  width: 70% !important;
}

}

